.box {
  background-image: url(img/portada.jpg);
  width: 500px;
  height: 500px;
  z-index: 10;
}

.container {
  display: flex;
}

.disco {
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-480px);
  transition: transform 1s;
}

.disco:hover {
  transform: translate(-20px);
}

.subdisco1 {
  width: 50%;
  height: 50%;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subdisco2 {
  width: 10%;
  height: 10%;
  background-color: white;
  border-radius: 50%;
}
