.box {
  background-image: url(img/portada.jpg);
  width: 500px;
  height: 500px;
  z-index: 0;
}

.container {
  display: flex;
}

.disco {
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  right: 40px;
  z-index: -5;
}

.subdisco1 {
  position: relative;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: red;
  border-radius: 50%;
}

.subdisco2 {
  margin-top: 25%;
  margin-left: 25%;
  width: 10%;
  height: 10%;
  background-color: white;
  border-radius: 50%;
  position: relative;
}
